<h2>Terms of Use</h2>

<p>Hotelvstaxis.com (the “Site”) is owned and operated by LateRooms.  </p>


<p>"LateRooms" means Late Rooms Limited, a private limited company which is a subsidiary of TUI Travel PLC with registered number 03816947 of TUI Travel House, Crawley Business Quarter, Fleming Way, Crawley, West Sussex, RH10 9QL, England.</p>

<p>LateRooms acts as booking agent for the hotels and other service providers advertised on the website www.laterooms.com (the "LateRooms Site").</p>

<p>By using and/or visiting the Site (through either a mobile, desktop or any other platform) you acknowledge that you have read and agree to these Terms of Use, and the Privacy and Cookie Policy ("the Terms") and you expressly consent and agree to be bound by the Terms, and all applicable laws and regulations that govern this Site.</p>

<p>Please take a moment to familiarise yourself with our Terms before using the Site. They may have been amended since your last visit. <strong>Your attention is drawn in particular to the section below called ‘Our Liability’.</strong> If you do not agree to our Terms please do not visit our Site.</p>

<p>Occasionally additional terms and conditions may apply, for example if you enter competitions. Do not worry, the relevant terms and conditions will always be made clear at the time.</p>

<p>In these Terms references to ‘we’ or ‘us’ or ‘our’ are references to LateRooms and references to ‘you’ or ‘your’ are references to Site users and/or visitors.</p>
<br>
<h4>Access to our Site</h4>

<p>We grant you access to our Site on a temporary basis. We may change the arrangements for access to, or even withdraw access to our Site on a temporary or permanent basis at some point in the future and reserve the right to do so, without telling you in advance. 
Because of the nature of the internet, we cannot guarantee that our Site will be uninterrupted or that you will always be able to gain reliable access to our Site and make no guarantees as to its operation, functionality or otherwise.   It remains your responsibility for making all arrangements necessary for you to have access to our Site.
</p>
<br>
<h4>Terms of Use and Site Use</h4>

<p>We may suspend access to the Site, due to maintenance, security reasons or force majeure with no obligation to reimburse or compensate you for the period in which access was suspended. LateRooms reserves the right to change, modify, substitute or suspend or remove without notice, any information or service from time to time on the Site. Any such modifications shall be effective immediately upon posting of the modified content.</p>

<p>LateRooms is the owner or licensee of all intellectual property rights on our Site and in material published on it, including the concept of and “look and feel” of our Site. These rights are protected by laws and treaties around the world.</p>

<p>Other than personally identifiable information or sensitive information, which is covered under the Privacy Policy, any material you transmit or post to shall be considered non-confidential and non-proprietary.</p>

<p>You may download one copy of Site content for your own personal use but you may not remove any trademark, copyright or other proprietary notice. You may not otherwise copy, modify, reproduce, sell, lease, market or distribute the content placed on the Site without the prior written consent of LateRooms. You must not use illustrations, photographs, video or audio sequences or any graphics from our Site separately from any accompanying text. You must not remove any indications of ownership from any materials which came from our Site. Where there are no indications of ownership you must acknowledge our status (and that of any identified contributors) as the authors of the material and must not claim it as your own or as that of another). You may only use this Site to make legitimate enquiries for yourself or another person for whom you are legally authorised to act.</p>

<p>You shall not:</p>
<ul>
    <li><p>post, transmit or disseminate any information on or via this Site which is or may be harmful, obscene, threatening, deceptive, degrading, defamatory or otherwise illegal, or may cause an infringement of the rights of any other;</p></li>
    <li><p>use any software, routine or device to interfere or attempt to interfere electronically or manually with the operation or functionality of this Site including, but not limited to, uploading or making available files containing corrupt data or viruses via whatever means;</p></li>
    <li><p>deface, alter or interfere with the appearance and layout of our Site, any documents or materials which appear on our Site or the underlying software code; </p></li>
    <li><p>take any action that imposes an unreasonable or disproportionately large load on the Site or related infrastructure; </p></li>
    <li><p>use the whole or any part of our Site or its contents for any commercial or money-making purpose;</p></li>
    <li><p>access parts of the Site which are not intended for public use;</p></li>
    <li><p>attempt to disrupt or interfere with our Site in any way or with another person’s use of our Site, or use our Site as a means of disrupting or interfering with other websites;</p></li>
    <li><p>probe, scan or test the vulnerability of our Site or any network connected to it;</p></li>
    <li><p>use any device to obtain any personal or confidential information through our Site;</p></li>

</ul>

<p>All of the above are forbidden regardless of the means used, including but not limited to, hacking or by the introduction of any worms, Trojans, viruses, unauthorised, malicious or harmful code or other harmful software. Some of the acts described above may be criminal acts under the Computer Misuse Act 1990. </p>

<p>Without prejudice to any of LateRooms other rights, LateRooms reserves the right to deny access to Site and/or take legal proceedings against you for the reimbursement of all costs wherever and whenever LateRooms believes (in its absolute discretion) that you are in breach of any of the Terms. In certain circumstances we may also give information to law enforcement authorities. </p>
<br>
<h4>Site content</h4>

<p>We have tested this Site thoroughly and are always keen to improve our accessibility tools. We would like to know if you have found this Site accessible or if you have had any problems. Please email hello@laterooms.com with any queries or comments or write to us at HotelvsTaxi Feedback, LateRooms.com, Peninsula Building, 2, Cheetham Hill Road, Manchester, M4 4EW. </p>

<p>To the maximum extent permitted by law, LateRooms disclaims all implied warranties with regard to the information, services and materials contained on this Site. All such information, services and materials are provided "as is" and "as available" without warranty of any kind.</p>

<p>We use reasonable efforts to ensure that our Site is free of viruses, however, because of the nature of the internet and viruses and similar malicious code, we cannot and do not guarantee that it is. Please take care and remember it is your responsibility to protect your computer against viruses and ensure that you log off shared computers after use. </p>

<p>LateRooms is not responsible for pricing, typographical, or other errors on its Site, but will use reasonable endeavours to ensure that all errors are rectified by us in a timely fashion.  </p>
<br>
<h4>Legislation and Courts of Jurisdiction</h4>

<p>These Terms will be governed by English law and any disputes will be dealt with exclusively by the English courts. </p>
<br>
<h4>Links and downloads</h4>

<p>LateRooms may provide hyperlinks or pointers to other websites (in addition to the LateRooms Site) maintained by third parties which LateRooms thinks may be of interest to visitors of the Site. Such other websites are not under the control of LateRooms or maintained by LateRooms and we are not responsible for the content of such websites. LateRooms provides these links for your convenience only but does not monitor or endorse the material on them. LateRooms cannot accept any liability whatsoever and howsoever arising in relation to any such other websites or in relation to any material or information appearing on them.</p>
<br>
<h4>Mobile Access</h4>

<p>This section applies when you access our Site using a mobile application such as our App or a version of this Site optimised for use on mobile devices (the <strong>"Mobile Access"</strong>).If you do not agree to be bound by this section of our Terms you may not use or access the Mobile Access facilities and should, if applicable, delete any mobile application used for Mobile Access.</p>

<p>Mobile Access is data intensive.  You are responsible for any carrier or other data charges incurred when using Mobile Access and will not be liable for any charges you incur.  We recommend you check with your network provider if you are unsure of the charges that may apply.</p>

<p>Mobile Access will use your device's cellular and/or Wi-Fi connection to synchronise content on the Mobile Access with the information on our Site.</p>

<p>LateRooms has no control over your device's network connection, and we therefore cannot represent or warrant that any information (including taxi contact numbers and prices and accommodation availability and prices) is correct or up to date. In the event of a price discrepancy, content and prices published on the Site will take precedence. </p>
<br>
<h3>Taxi Prices</h3>

<p>The taxi rates shown on our Site are provided by YourTaximeter.com, a free online service that using information from Google Maps, calculates approximately how much a taxi journey between two pre determined geographical locations will cost. We have no affiliation with Google Maps. The calculations are based on the fares set by the councils across the UK, taking several aspects of the tariff information into account including: date, time, and the average fare for 1 passenger.</p>

<p>Please bear in mind that the taxi prices shown on our Site are calculated estimates only, based on information provided by local authorities in the United Kingdom via YourTaximeter.com. We and YourTaximeter.com make no warranties or guarantees as to the accuracy, comprehensiveness, verification, adequacy or suitability of any fare estimates generated on the Site and/or its website.  By using our Site to generate taxi fares you will be subject to the Terms of Use, Privacy Policy and Disclaimer for YourTaximeter.com. To see a copy of the terms and conditions for YouTaximeter.com please click here <a href="http://yourtaximeter.com/main#/main/disclaimer">http://yourtaximeter.com/main#/main/disclaimer</a></p>

<p>We make no representations as to the accuracy of the information regarding taxi fares on our Site.  Please therefore make sure you get your own quote from the taxi company before booking your journey. We accept no liability for any incorrect taxi fares or personal decisions based on using the Site.</p>
<br>
<h3>Hotel Prices</h3>

<p>All hotel prices shown are retrieved from the LateRooms Site and as such are bound by the terms and conditions found at <a href="http://www.laterooms.com/en/static/TermsOfUse.mvc">www.laterooms.com/en/static/TermsOfUse.mvc</a></p>

<p><strong>PLEASE NOTE: where you wish to book into your accommodation after midnight, you must call 0844 774 1001 and not book online. Online bookings made after midnight will be for the following evening and will not be available for immediate check in.</strong></p>
<br>
<h3>Our Liability</h3>

<p>Your attention is particularly drawn to this clause.</p>

<p>Nothing in these terms shall, nor shall be deemed to exclude our liability for any death or personal injury caused as a result of our negligence, or the negligence of our employees or for fraudulent misrepresentation.</p>

<p>Subject to the preceding paragraph LateRooms shall not be liable for any losses, expenses or damages of any sort due to you as a result of the acts, errors, omissions, breaches, negligence, fraudulent intent, misleading or untrue statements, wilful misconduct or any other tortious act attributable either wholly or in part to the taxi or accommodation providers and / or taxi service providers or any other independent business which includes their employees, directors, officers, agents, representatives or affiliates.</p>

<p>LateRooms  shall not be liable for any damages arising as a result of any inaccurate information or errors on our Site relating to taxi information and / or accommodation information, including but not limited to details of taxi companies and their fares, accommodation providers and their availability of rooms, price of accommodation, accommodation facilities, any accreditations afforded to the information and/or service providers who are independent businesses and are not agents or employees of 
LateRooms and/or its affiliates.</p>

<p>LateRooms shall not be liable to you for any losses in the event of taxi and or accommodation providers overbooking, cancelling of bookings in full or in part, force majeure events or any other cause beyond our or their control. We act only as an information provider.</p>

<p>LateRooms will not be liable to you for any of the following:</p>

<ul>
    <li>Because the information you put into our portal is inaccurate or incomplete</li>
    <li>Because we have changed the arrangements for access to, you denied you access to or closed or suspended our Site</li>
    <li>Because of uninterrupted and/or unreliable access to our Site or because you cannot use our Site at any time where the cause is beyond our reasonable control</li>
    <li>Because you have connected to any linked third party websites</li>
    <li>Because you have breached our Terms of use</li>
    <li>Any unauthorised access to or loss of personal information that is beyond our reasonable control or where we have not been negligent</li>
    <li>Because of a distributed denial-of-service attack, viruses or other technologically harmful material that infects your computer, computer programs, data or other items because you used our Site or downloaded material from it.</li>
</ul>

<p>LateRooms shall not be liable for any direct, indirect, punitive, incidental, special, or consequential damages, nor any loss of profit, loss of production, loss of revenue, or damage to goodwill or reputation arising out of, or in any way connected with, your use of this Site or with your inability to use this Site.</p>
<br>
<h4>General</h4>

<p>You agree that financial compensation alone may not be adequate for us if there is a breach of threatened breach of our Terms and that we are entitled to seek all remedies available to us.  Each right or remedy of you and us in respect of these Terms shall not affect any other right or remedy of us whether under these Terms or otherwise. </p>

<p>In the event that any provision of these Terms are is found by a court or administrative body to be unenforceable, that provision shall not be a part of these Terms and the remaining provisions shall continue to apply. </p>

<p>LateRooms shall not be responsible if we are unable to perform our obligations due to events which are genuinely beyond our reasonable control. </p>

<p>Nothing under the contract shall give rights to any person who is not a party to it (whether under the Contracts (Rights of Third Parties) Act 1990) or otherwise. </p>

<p>If you or waive any rights in result of a breach or default under, any part of these Terms by the other will not be deemed a waiver of any subsequent breach or default. Further it will not affect the other terms of the contract unless expressly confirmed in writing by the party waiving its rights. </p>

<p>LateRooms reserves the right to change our Terms at any time. We shall post such updated Terms on our Site and your continued use of the Site shall be deemed acceptance of such updated Terms. </p>

<h3>Privacy Policy</h3>

<p>By disclosing your personal information to us by using our Site, you consent to the collection, storage and processing of your personal information as stated in this policy. </p>

<p>The personal information that we collect from you shall be obtained, processed and transmitted in compliance with applicable data protection legislation. Since our servers are located in the United Kingdom, the personal information that we collect from you shall be obtained, processed and transmitted in compliance with European Directives 95/46 and 2002/58, as well as any other such legislation that replaces, substitutes, complements and develops it such as the Data Protection Act 1998 from the United Kingdom.</p>

<p>"Personal Information" means information that relates to a living individual who can be identified from that information or from that information together with other information which is held by or is likely to be held by us.</p>
<br>
<h4>Purpose of our Privacy Policy</h4>

<p>Our Privacy Policy forms part of our Terms and sets out what personal data and other information (together called <strong>personal information</strong>) we collect and how it will be used and to make sure that your personal information is collected and used fairly.  Before providing us with any personal information please read our Privacy Policy carefully.  </p>

<p>By using our Site and/or providing us with personal information you are agreeing to the terms of our Privacy Policy.  If you do not want your personal information to be used in the ways set out here please do not use our Site or submit personal information to us through it.</p>

<h4>Identity of the Data Controller</h4>

<p>The data controller responsible in respect of the information collected on this Site is Late Rooms Limited, whose registered office address is TUI Travel House, Crawley Business Quarter, Fleming Way, Crawley, West Sussex, RH10 9QL.</p>

<p>Our data protection registration number is Z8168511.</p>

<h4>What Personal Data We Collect</h4>

<p>We will collect the personal data included in emails you send to us and any other way you communicate with us.  Such personal data may include, but will not be limited to, name, address, email address and other personal details.  All personal information you give to us is provided on a voluntary basis.</p>
<br>
<h4>What Other Information We Collect</h4>

<p>In addition to the personal data we collect as explained above, we may collect other information about your visits to our Site and about your computer.  Such other information collected may include, but will not be limited to, your geographical location and destination as entered by you into the Hotel Vs Taxi tool, the information about your computer or mobile device and about your visits to and use of this Site (including your IP address, geographical location, browser/platform type and version, Internet Service Provider (ISP) and (for users of our service through a mobile device) Unique Device Identifier, operating system, referral source/exit pages, length of visit, page views, website navigation, date/time stamp information and details like the number and location of (mouse) clicks on a given page, mouse movements, scrolling activity and the (search) words you use and the text you type while being on and using our Site).</p>

<p>We use web analytics services provided by Google, Inc ("Google"). Google use cookies, to help analyse how visitors use our Site. The information generated by the cookie about the use of our Site (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google.</p>
</br>
<h4>How We Use The Personal Information</h4>

<p>We will use such personal information collected:</p>

<ul>
    <li>to provide the services offered by the Hotel Vs Taxi tool; </li>
    <li>to supply you with information you have requested;</li>
    <li>to respond to queries, suggestions or complaints;</li>
    <li>to improve your browsing experience by personalising our Site;</li>
    <li>to manage and administer our Site ;and </li>
    <li>to collate, analyse and report on aggregate, anonymised personal information about users of our site in order to analyse and improve the services offered and to provide you with the most user-friendly navigation experience.</li>
</ul>
<br>
<h4>How long We Keep Your Personal Information For</h4>

<p>We will keep your personal information for a maximum of 3 years.</p>
<br>
<h4>Your Personal Information and Third Parties</h4>

<p>We shall not release the personal information we collect to any third parties unless:</p>

<ul>
    <li>it is to Google as set out above;</li>
    <li>we are obliged or permitted to do so by law;</li>
    <li>we need to in order to enforce or apply our terms and conditions of use and/or other agreements between us;<li>
    <li>we need to, to protect ourselves, our group companies, customers, the public and/or property;</li>
    <li>if fraud or other criminal conduct is suspected (in which case we may disclose personal information to the police and other relevant authorities);</li>
    <li>we have your consent to do so; </li>
    <li>we sell any of our business assets we may disclose your personal information to the prospective seller of such business assets; and/or</li>
    <li>we or substantially all of our assets are acquired by a third party, in which case personal information held by us about our customers will be one of the transferred assets. </li>
</ul>

<p>We shall not pass your personal data on to any third parties for marketing purposes. </p>
<br>
<h4>Links To Other Websites</h4>

<p>The Site contains links to other 3rd party websites. If you follow links to other websites please note that we are not responsible for the privacy policies or practices of third party websites including use of cookies on such third party websites and you should refer to the third party's privacy policy for more information. Please check how these websites use your information and personal information before you submit anything to them. </p>

<p>Hotel Vs Taxi uses the LateRooms Site to find you the hotel options displayed within the tool. You will be directed to the LateRooms Site if you wish to learn more about or book a hotel and as such you will be subject to the LateRooms Site Privacy Policy detailed at <a href="www.laterooms.com/en/static/TermsOfUse.mvc#s4">www.laterooms.com/en/static/TermsOfUse.mvc#s4</a></p>

<p>Hotel Vs Taxi also uses the Google API and therefore incorporates the Google privacy policy detailed at <a href="www.google.com/privacy.html">www.google.com/privacy.html</a></p>
<br>
<h4>Your Rights</h4>

<p>The Act gives you the right to access details of the personal data held about you which can be exercised in accordance with the Act.  Any access request may be subject to a small administration fee to meet our costs in providing you with details of the personal data we hold about you.</p>

<p>You also have a right to complain to the Information Commissioner if you believe there is a problem with the way we use your personal data.  Please see <a href="www.ico.gov.uk">www.ico.gov.uk</a> for details.</p>
<br>
<h4>Contact Us</h4>

<p>If you have any questions or concerns the personal information or other information we hold about you or our treatment of your personal information, please write to us by email to <a href="mailto:hello@hotelvstaxi.com">hello@hotelvstaxi.com</a></p>
<br>
<h4>Changes to this Privacy Policy</h4>

<p>We reserve the right to change the terms of this Privacy Policy at any time. When we make changes, we shall update the version number of the policy and publish the latest policy on our Site. We encourage you to review this policy whenever you visit our Site.  If you do not want your data to be used in the way the updated Privacy Policy sets out please do not use our Site or submit personal information to us through it.  We will not make changes to the purposes for which we process your personal information or reduce the level of protection we provide for your personal information without your consent.</p>
<br>
<h3>Cookies</h3>

<p>Cookies are small files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site. We use the following cookies for the reasons set out in the table below. </p>

<div class="cookie-box-holder">
    <div class="cookie-box-type-outer">
        <div class="cookie-box-type">Cookie Type</div>
        <div class="cookie-box-type-bottom">Google Analytics</div>
    </div>
    <div class="cookie-box-name-outer">
        <div class="cookie-box-name">Name</div>
        <div class="cookie-box-name-bottom">_ga</div>
    </div>
    <div class="cookie-box-purpose-outer">
        <div class="cookie-box-purpose">Purpose</div>
        <div class="cookie-box-purpose-bottom">
            <p>
            These cookies monitor the traffic volumes to the Site to allow us to understand how the Site is working and fix any problems. This ensures that the Site is fully functional and optimised to create the best possible user experience.
            The cookies collect information in an anonymous form, including the number of visitors to our Site, where visitors have come to our Site from and the pages they visited. The information collected by the cookie may be stored outside the European Economic Area including but not limited to in the United States of America.  The cookie typically lasts for 2 years. 
            To opt-out of receiving these cookies please see Google's privacy policy at: <a href="http://www.google.com/privacypolicy.html">www.google.com/privacypolicy.html</a> or visit <a href="http://tools.google.com/dlpage/gaoptout">tools.google.com/dlpage/gaoptout</a>.
            </p>
        </div>
    </div>
    <div class="cookie-box-info-outer">
        <div class="cookie-box-info">More Information</div>
        <div class="cookie-box-info-bottom">
            <p>
            For more information on Google analytics please see <br /> <a href="www.google.com/intl/en/analytics/privacyoverview.html">www.google.com/intl/en/analytics/privacyoverview.html</a> <br />
            To see Google’s privacy policy please see <br /> <a href="www.google.com/intl/en/privacy/privacy-policy.html">www.google.com/intl/en/privacy/privacy-policy.html</a>.
            </p>
        </div>
    </div>
</div>
