@model HotelOrTaxi.Models.ResultsViewModel
<div class="hero-unit">
    <h1>Results</h1>
    <h2>Should I stay or should I go? </h2>
    <form>
        <h3>Taxi</h3>
        <p>£26</p>
        @Html.ActionLink("Show me", "Index", "Taxi")
    </form>

    <form>
        <h3>Hotel</h3>
        <p>£30</p>
        <a href ="http://m.laterooms.com/en/p9827/MobileSearch.aspx?k=Manchester&d=20130404&n=1&adults=1&children=0&minp=&maxp=&rt=1-0&Latitude=&Longitude=&MaxRadius=1&sb=tp&sd=true">Show me</a>
    </form>
</div>

